<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark" style="padding: 1px 1rem;">


<h7 class="display-7 navbar-text">Sylvia 300605258&copy; 2023 All rights reserved</h7>
</div>
</nav>


  </footer>

   <!-- Sylvia Yi 300605258 bottom.ejs -->