<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
    
    
    <h1 class="display-4">My Projects</h1>
    
   
    <div class="card mb-4">
        <img src="/img/rpg1.jpg" width="800" height="500" class="card-img-top" alt="rpg">
        <div class="card-body">
            <h5 class="card-title">Project 1: RPG</h5>
            <p class="card-text">This was a challenging project where I worked as the lead developer.</p>
            <p class="card-text text-success">Outcome: Successfully launched the app which got 1k+ downloads in the first month.</p>
        </div>
    </div>

    <!-- Project 2 -->
    
    <div class="card mb-4">
        <img src="/img/board.jpg" width="800" height="500" class="card-img-top" alt="topdown">
        <div class="card-body">
            <h5 class="card-title">Project 2: Board Game</h5>
            <p class="card-text">This is a mini game we made for the purpose of practice.</p>
            <p class="card-text text-success">Outcome: Created a responsive website that boosted the client’s sales by 20%.</p>
        </div>
    </div>

    <!-- Project 3 -->
    <div class="card mb-4">
        <img src="/img/topdown.jpg" width="800" height="500" class="card-img-top" alt="topdown">
        <div class="card-body">
            <h5 class="card-title">Project 3: Topdown</h5>
            <p class="card-text">This was the first game we made. It's a topdown 2D game.</p>
            <p class="card-text text-success">Outcome: Learned a lot about new tech and received positive feedback from peers.</p>
        </div>
    </div>
</main>

 <!-- Sylvia Yi 300605258 project.ejs -->

<%- include('partials/footer.ejs') %>
